<div class="employee-add-panel">
  <h2>Add New Employee</h2>

  <div class="form-row">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" [(ngModel)]="newEmployee.firstName" placeholder="Ad">
    </div>
    <div class="form-group">
      <label>Lastname:</label>
      <input type="text" [(ngModel)]="newEmployee.lastName" placeholder="Soyad">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Hire Date:</label>
      <input type="date" [(ngModel)]="newEmployee.hireDate">
    </div>
    <div class="form-group">
      <label>Birth Date:</label>
      <input type="date" [(ngModel)]="newEmployee.birthDate">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" [(ngModel)]="newEmployee.email" placeholder="Email">
    </div>
    <div class="form-group">
      <label>Phone:</label>
      <input type="text" [(ngModel)]="newEmployee.phone" placeholder="Telefon">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Gender:</label>
      <select [(ngModel)]="newEmployee.gender">
        <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Position:</label>
      <select [(ngModel)]="newEmployee.position">
        <option *ngFor="let p of positions" [value]="p">{{ p }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Contract Type:</label>
      <select [(ngModel)]="newEmployee.contractType">
        <option *ngFor="let c of contractTypes" [value]="c">{{ c }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Employment Status:</label>
      <select [(ngModel)]="newEmployee.employmentStatus">
        <option *ngFor="let e of employmentStatuses" [value]="e">{{ e }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>City:</label>
    <input type="text" [(ngModel)]="newEmployee.city" placeholder="Şehir">
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Department:</label>
      <select [(ngModel)]="newEmployee.department.id">
        <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Team:</label>
      <select [(ngModel)]="newEmployee.team.id">
        <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
      </select>
    </div>
  </div>


  <button class="save-button" (click)="createEmployee()">Create</button>
</div>
