.navbar {
  background-color: transparent; /* Şeffaf navbar */
  padding: 1rem 2rem;
  position: absolute; /* Hero bölümünün üzerine gelsin */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo a {
  font-size: 2.8rem;
  font-weight: bold;
  color: #ff4081;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4081;
}
